<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<th:block th:replace="~{includes/admin/head}" />

<script id="list-template" type="text/x-handlebars-template">
    <tr>
        <td>{{id}}</td>
        <td class='cursor_pointer' onclick='location.href = "/admin/faq/detail/{{id}}"'>{{title}}</td>
        <td>{{createUserId}}</td>
        <td>{{deleted}}</td>
        <td>{{createdAt}}</td>
        <td>{{modifiedAt}}</td>
    </tr>
</script>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <th:block th:replace="~{includes/admin/sidebar}" />

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topper -->
                <th:block th:replace="~{includes/admin/topper}" />

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">FAQ List</h1>
                    <p class="mb-4">FAQ List example</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <a class="btn btn-primary m-1" href="#" style="float: right" data-toggle="modal" data-target="#createModal">Create</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Made by</th>
                                        <th>Deleted</th>
                                        <th>Create Date</th>
                                        <th>Modified date</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Made by</th>
                                        <th>Deleted</th>
                                        <th>Create Date</th>
                                        <th>Modified date</th>
                                    </tr>
                                    </tfoot>
                                    <tbody id = "table_body">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <th:block th:replace="~{includes/admin/footer}" />

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Create Modal-->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">FAQ Create</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="input_param input_required form-control" id="faq_title" name="title" placeholder="Enter title" required/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Content</label>
                        <div class="col-sm-10">
                            <textarea class="input_param form-control" id="faq_content" name="content" placeholder="Enter content" rows="6" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" id="create_faq_btn" onclick="create_faq()">Create</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <th:block th:replace="~{includes/admin/logout}" />

    <!-- Script-->
    <th:block th:replace="~{includes/admin/script}" />


    <!-- Page level plugins -->
    <script src="/sb-admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/sb-admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function(){
            list_faq();
        });

        var list_source = $("#list-template").html();
        var list_template = Handlebars.compile(list_source);

        function create_faq() {
            $.ajax({
                url: "/api/faq",
                method: "POST",
                contentType: 'application/json; charset=utf-8',
                headers:{
                    "Authorization" : localStorage.getItem("Authorization")
                },
                data:JSON.stringify({
                    title: $('#faq_title').val(),
                    content: $('#faq_content').val()
                }),
                success: (data, status, xhr)=>{
                    alert(JSON.stringify(data));
                    list_faq();
                },
                error: (data, status, xhr)=>{
                    alert(JSON.stringify(data));
                }
            });
        }

        function list_faq() {
            $.ajax({
                url: "/api/faq/list",
                method: "GET",
                contentType : 'application/json; charset=utf-8',
                headers:{
                    "Authorization" : localStorage.getItem("Authorization")
                },
                success: (data, status, xhr)=>{
                    if ($.fn.DataTable.isDataTable('#dataTable')) {
                        $('#dataTable').DataTable().clear().destroy();
                    }
                    $("#table_body").html("");
                    for(let each of data){
                        $("#table_body").append(list_template(each));
                    }
                    $('#dataTable').DataTable();
                },
                error: (data, status, xhr)=>{
                    alert(JSON.stringify(data));
                }
            });
        }

    </script>

</body>

</html>