<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <!-- 스타일 -->
    <link href="https://cdn.jsdelivr.net/npm/[email protected]/dist/quill.snow.css" rel="stylesheet" />
    <!-- 스크립트 -->
    <script src="https://cdn.jsdelivr.net/npm/[email protected]/dist/quill.js"></script>
</head>
<body>
<h1>Home</h1>

<div>
    <h2>User</h2>

    <a href="/user/signup">Signup</a>
    <br/>

    <a href="/user/login">Login</a>
    <br/>

</div>

<div>
    <h2>Off</h2>

    <a href="/off/index">Index</a>
    <br/>

</div>

<div>
    <h2>Admin</h2>

    <a href="/admin/index">Index</a>
    <br/>

</div>

</body>
</html>