<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pigs.holiday.mapper.admin.AdminUserMapper">

    <!--Detail-->
    <select id="detail" parameterType="hashMap" resultType="com.pigs.holiday.dto.admin.AdminUserDto$DetailResDto">
        SELECT user.id as userId,
               user.username,
               user.deleted,
               user.email,
               user.university,
               user.nickname,
               user.created_at as createdAt,
               user.modified_at as modifiedAt
        FROM user
        WHERE user.id = #{id}
    </select>


    <!--List-->
    <select id="list" parameterType="hashMap" resultType="com.pigs.holiday.dto.admin.AdminUserDto$ListResDto">
        SELECT user.id,
               user.username,
               user.deleted,
               user.created_at as createdAt,
               user.modified_at as modifiedAt
        FROM user
        WHERE user.id is not NULL
    </select>

</mapper>