<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pigs.holiday.mapper.admin.AdminUserMapper">

    <!--Detail-->
    <select id="detail" parameterType="hashMap" resultType="com.pigs.holiday.dto.admin.AdminUserDto$DetailResDto">
        SELECT club.id as userId,
               club.username,
               club.deleted,
               club.email,
               club.university,
               club.nickname,
               club.created_at as createdAt,
               club.modified_at as modifiedAt
        FROM club
        WHERE club.id = #{id}
    </select>


    <!--List-->
    <select id="list" parameterType="hashMap" resultType="com.pigs.holiday.dto.admin.AdminUserDto$ListResDto">
        SELECT club.id,
               club.username,
               club.deleted,
               club.created_at as createdAt,
               club.modified_at as modifiedAt
        FROM club
        WHERE club.id is not NULL
    </select>

</mapper>