<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pigs.holiday.mapper.admin.PermissionMapper">

    <!--List-->
    <select id="list" parameterType="hashMap" resultType="com.pigs.holiday.dto.admin.PermissionDto$ListResDto">
        SELECT permission.permission,
               permission.func
        FROM permission
        WHERE permission.role_id = #{roleId}
        <if test = "deleted != null">AND permission.deleted = #{deleted}</if>
    </select>

</mapper>