<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pigs.holiday.mapper.admin.RoleMapper">

    <!--Detail-->
    <select id="detail" parameterType="hashMap" resultType="com.pigs.holiday.dto.admin.RoleDto$DetailResDto">
        SELECT role.id as roleId,
               role.deleted,
               role.created_at as createdAt,
               role.modified_at as modifiedAt,
               role.role_name as roleName,
               role.content
        FROM role
        WHERE role.id = #{id}
    </select>

    <!--List-->
    <select id="list" parameterType="hashMap" resultType="com.pigs.holiday.dto.admin.RoleDto$ListResDto">
        SELECT role.id,
               role.role_name as roleName,
               role.deleted,
               role.create_user_id as createUserId,
               role.created_at as createdAt,
               role.modified_at as modifiedAt
        FROM role
        WHERE role.id is not NULL
    </select>

</mapper>